html {
    font-size: 14px;
}
  
body {
    background-image: url(../img/1581998648_geometric_vsthemes_ru-37.png);
}

.modal-header, .modal-footer, .modal-body{
    border: none !important;
}

button:focus, .btn:focus {
    box-shadow: none;
    border: none;
}


.logo{
    width:4%;
    z-index: 1;
}

a{
    text-decoration:none !important;
}

a:hover{
    color: black !important;
}

div, p {
    cursor:default;
}

.mainContainer {
    background-color: #212529 !important;
    box-shadow: 0px 5px 10px 2px rgb(153, 208, 255) !important;
    color: #cdcdcd;
}

.form-control {
    background-color: #cdcdcd;
}

.form-control:focus,
.form-control::after {
    background-color: #cdcdcd;
    box-shadow: none;
    border: none;
}

.btnProject {
    background-color: black;
    box-shadow: 0px 5px 10px 2px rgba(200, 254, 254, 0.81) !important;
}